---
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro"
---

<html lang="en">
  <body>
    <slot />
    <Analytics />
    <SpeedInsights />
  </body>
</html>
